<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" style="margin: 32px;">
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Passwort</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  </form>
</ion-content>
